<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Register">
  <meta name="author" content="C0n5t4ntK">

  <title>Register</title>

  <!-- Custom fonts for this template-->
  <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/admin/lib/sweetalert2/sweetalert2.min.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico" />

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <hr>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="username" placeholder="Username*" autofocus>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="password" placeholder="Password*">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control form-control-user" id="email" placeholder="Email*">
                  </div>
                  <div class="col-sm-6">
                    <input type="url" class="form-control form-control-user" id="personal_site" placeholder="Personal Site">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="hobby" placeholder="Hobby">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="hometown" placeholder="Hometown">
                  </div>
                </div>
                <hr>
                <a href="" class="btn btn-primary btn-user btn-block" id="register">
                  Register Account
                </a>
                <hr>
<!--                 <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a> -->
              </form>
<!--               <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div> -->
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
              <p>Attention: </p>
              <p>1. Your password will be multiple hashed and saved in database, this site doesn't save plain text password.</p>
              <p>2. If you decide to register, your personal site, hobby and hometown can be seen by other users, but these items ain't necessary for register.</p>
              <p>3. As a user, you can comment and use some useful tools such as pastebin... You can find the entrance at the bottom of the page after login.</p>
              <p>4. If you have some questions or find some bugs, you can leave a message on the "board" or email me, thanks^_^</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/vendor/jquery/jquery.min.js"></script>
  <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/js/sb-admin-2.min.js"></script>
  <script src="/admin/lib/sweetalert2/sweetalert2.min.js"></script>
  <script type="text/javascript">
    $('#register')
      .on('click', function(event) {
        event.preventDefault();
        if ($('#username').val() == '' || $('#password').val() == '' || $('#email').val() == '') {
        swal({
          title: 'Oh No',
          text: 'Username Password Email Must Be Set!',
          type: 'error',
        });
        return;
      }
      var emailReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
      if (emailReg.test($('#email').val()) == false) {
        swal({
          title: 'Oh No',
          text: 'Email Address Error',
          type: 'error',
        });
        return;
      }
        var data = {
          username: $('#username').val(),
          password: $('#password').val(),
          email: $('#email').val(),
          personal_site: $('#personal_site').val(),
          hobby: $('#hobby').val(),
          hometown: $('#hometown').val(),
        };
        $.ajax({
          url: '/api/user-post/signup',
          type: "POST",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          success: function(data, result) {
            if (data == "SUCCESS") {
              swal({
                title: 'Success',
                text: 'Let\'s login!',
                type: 'success',
              })
                .then(function() {
                  window.location.href = "/login";
                })
            } else if (data == "ERROR") {
              swal({
                title: 'Error',
                text: 'Register failed!',
                type: 'error',
              })
            } else {
              swal({
                title: 'Error',
                text: 'Register failed!',
                type: 'error',
              })
            }
          },
          error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
            alert("Register Error");
          }
        });
      })
  </script>
</body>

</html>
