<!DOCTYPE html>
<html lang="en">
<!--
                                                        
            -. .                                        
       _____   ',' ,                                    
     ,'     ,'   ', ',                                  
   ,'     ,'      |  |                                  
  \       \       |  |         少年强则中国强！
    \ /^\   \    ,' ,'                                 
          \   \ ,' ,'          二十四字箴言护体！        
    / ~-.___\.-'  ,'             
  /   .______.- ~ \            
/   /'          \   \                                   
\./               \/'         
-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A personal blog to record life" />
    <meta name="author" content="C0n5t4ntK" />
    <title>o(*￣▽￣*)ブHi~</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/css/clean-blog.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body style="background: #dcffcc;">
    <div id="loader-wrapper"><div id="loader"></div></div>
    <div class="scrollBar"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background: transparent; border: none;">
      <div class="container">
        <a class="navbar-brand" href="/">Elapse Life</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" style="font-size: 1rem;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/article?pg=1" style="font-size: 1rem;">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jotting?pg=1" style="font-size: 1rem;">Jottings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" style="font-size: 1rem;">About</a>
            </li>
            <li class="nav-item">
              {% if user %}
              <a class="nav-link" id = "logout" href="/" style="font-size: 1rem;">Logout</a>
              {% else %}
              <a class="nav-link" href="/login" style="font-size: 1rem;">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block page_header %}{% endblock page_header %}
    <hr />
    <div>
      {% block content %}{% endblock content %}
    </div>
      <a href="javascript:;" class="scroll-to-top" id="scroll-btn">
        <i class="fas fa-angle-up"></i>
      </a>
    <hr />

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {% if user %}
            <p class="text-muted" style="text-align: center;">Happy to see you, <a href="/tool"><label title="Press to use tools for you~">{{user.username}}!</label></a></p>
            <p class="text-muted" style="text-align: center;">Last login at {{access_time}}!</p>
            <hr>
            {% endif %}
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href=mailto:{{email}}>
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{github}}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{qq}}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-qq fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; C0n5t4ntK</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
    <script src="/js/custom.js"></script>
    {% block extra_js %}{% endblock extra_js %}
    <script type="text/javascript">
      document.addEventListener("visibilitychange", function(){
        document.title = document.hidden ? "o(*≧▽≦)ツ┏━┓Ohhh~" : "{% block title %}{% endblock %}"
      });
    </script>
    <script type="text/javascript">
      $(window).on('load',function() {
        $('#loader').fadeOut();
        $('#loader-wrapper').delay(350).fadeOut('slow');
        $('body').delay(350).css({'overflow-y':'visible'});
      });
    </script>
    {% if user %}
    <script type="text/javascript">
    $('#logout')
      .on('click', function(event) {
        event.preventDefault();
        $.ajax({
          url: '/api/user-get/logout',
          type: "GET",
          contentType: "application/json; charset=utf-8",
          success: function(data, result) {
            if (data == "SUCCESS") {
              window.location.href = "javascript:history.go(0);";
            }
          },
          error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
            alert("Logout Error");
          }
        })
      });
  </script>
  {% endif %}
  </body>
</html>